/* Card Styles */
.User{
    width: 45vw;
    display: flex;
    flex-direction: row; /* Ensure items are laid out in a row */
    justify-content: center;
    align-items: center; /* Stretch items to fill the container height */
    background-size: cover;
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    margin-top: 3px;
    z-index: 1;
}
.User-Card {
    border: none !important;
    display: flex;
    margin-top: 3px;
    z-index: 1;
    margin: 20px auto; /* Center the card with some margin around */
    width: 30vw; /* Responsive width */
    max-width: 800px; /* Max width to prevent it from becoming too wide */
}

.Img {
    max-height: fit-content;

}
.Img, .User-Card{
    flex: 1; /* Ensure form and image each take half of the container's width */
    max-width: 50%; /* Limit maximum width to 50% */
    object-fit: cover; /* Ensure images cover the area without losing aspect ratio */
}
/* Input field styles */
.User-input {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    padding: 5px 35px;
    width: 100%; /* Full width for better mobile responsiveness */
    margin-top: 10px; /* Add some space above the input field */
}

/* Button Styles */
.User-Button {
    display: block; /* Make the button block level for easier clicking */
    width: 100%; /* Full width button */
    padding: 10px;
    margin-top: 20px; /* Space above the button */
    background-color: #0077b5; /* Theme color */
    color: white; /* Text color */
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor indication for clickable element */
}

/* FontAwesomeIcon styles */
.FontAwesomeIcon {
    cursor: pointer; /* Indicates the icon is clickable */
    margin-left: 10px; /* Space from the label or content */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .Card {
        width: 90vw; /* More suitable for smaller screens */
    }

    .form-input, .Button {
        padding: 8px 20px; /* Adjust padding for smaller devices */
    }
}
