/* Card Styles */
.User {
    width: 45vw; /* Change from vw to percentage for better responsiveness */
    max-width: 1200px; /* Ensure it doesn't get too wide on large screens */
    margin: auto;
    display: flex;
    flex-direction: row; /* Ensure items are laid out in a row */
    justify-content: center;
    align-items: center; /* Stretch items to fill the container height */
    background-size: cover;
    background-position: center;
    background-color: white;
    margin-top: 3px;
    z-index: 1;
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
}

.User-Card {
    border: none !important;
    display: flex;
    margin-top: 3px;
    z-index: 1;
    margin: 20px auto; /* Center the card with some margin around */
    width: 90%; /* Responsive width */
    max-width: 800px; /* Max width to prevent it from becoming too wide */
    flex-direction: column; /* Stack items vertically on small screens */
    align-items: center; /* Center items on smaller screens */
}

.Img {
    max-height: fit-content;
    flex: 1; /* Ensure image and form each take half of the container's width */
    max-width: 30%; /* Limit maximum width to 100% */
    object-fit: cover; /* Ensure images cover the area without losing aspect ratio */
}

/* Input field styles */
.User-input {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    padding: 5px 35px;
    width: 100%; /* Full width for better mobile responsiveness */
    margin-top: 10px; /* Add some space above the input field */
}

/* Button Styles */
.User-Button {
    display: block; /* Make the button block level for easier clicking */
    width: 100%; /* Full width button */
    padding: 10px;
    margin-top: 20px; /* Space above the button */
    background-color: #0077b5; /* Theme color */
    color: white; /* Text color */
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor indication for clickable element */
}

/* FontAwesomeIcon styles */
.FontAwesomeIcon {
    cursor: pointer; /* Indicates the icon is clickable */
    margin-left: 10px; /* Space from the label or content */
}

/* Responsive adjustments */
@media (max-width: 1200px) {
    .User {
        flex-direction: column; /* Stack items vertically on medium screens */
    }
    
    .User-Card {
        width: 70%; /* Adjust card width */
    }
}

@media (max-width: 768px) {
    .User {
        width: 95%; /* More suitable for smaller screens */
    }

    .User-Card {
        width: 90%; /* More suitable for smaller screens */
    }

    .User-input, .User-Button {
        padding: 8px 20px; /* Adjust padding for smaller devices */
    }
}
